.profile-container {
  display: flex;
  justify-content: space-around;
}

.profile-container img {
  width: 250px;
  height: 235px;
  border-radius: 12%;
  padding: 5px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 100px;
  border-radius: 12%;
  padding: 5px;
}

.profile-info h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #4f4f4f;
  margin-top: 13%;
}

.profile-info h2 {
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  color: #828282;
  margin-top: -5%;
}

.profile-info h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #5f5d5d;
}

.container-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60%;
  height: 120px;
  margin-left: -5%;
  margin-top: -7px;
}

.container-description p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.container-contact {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 100px;
}

.profile-email {
  display: flex;
  width: 265px;
  height: 100px;
}

.profile-email img {
  width: 40px;
  height: 40px;
  margin: auto;
  display: flex;
}

.profile-email p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.profile-phone {
  display: flex;
  width: 200px;
  height: 100px;
}

.profile-phone img {
  width: 40px;
  height: 40px;
  margin: auto;
  display: flex;
}

.profile-phone p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
