.Home-profile-container {
  display: flex;
  width: 70%;
  height: 40%;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
}
